.App {
  text-align: center;
  width: 1200px;
  max-width: 80vw;
  margin: 0 auto;
}

#narrow-search>div {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.disabled {
  pointer-events: none;
  color: gray;
}