* {
  margin: 0;
  font-size: 18px;
  font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(154, 116, 42);
}

hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: black;
}

.App {
  width: 1200px;
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  background-color: rgb(255, 204, 101);
}

.title {
  margin: 12px 0;
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  margin: 12px 0;
}

.search-bar {
  width: 400px;
  margin: 12px auto;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.search-input {
  height: 28px;
  font-size: 24px;
}

.narrow-search {
  width: 20%;
  float: left;
}

.narrow-search>div {
  display: flex;
  flex-direction: column;
  align-items: baseline
}

.narrow-search p {
  display: inline;
}

.disabled {
  pointer-events: none;
  color: gray;
}

.results-area {
  width: 60%;
  margin-left: 20%;
}

.text-output {
  text-align: center;
}